* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html,
body {
    width: 100%;
    height: 100%;
}

.link{  
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size:1rem;
    width: 100%;
    text-decoration: none;
    background-color: darkcyan ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.l{ 
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
}
.lo{
    font-size: 4rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.color{ 
    color: black;
    background-color: black;
}
select{
    font-size: 4rem;
    text-align: center;
    color: darkred;
    border: solid darkred;
} 
.dark-mode{
    background-color: black;
    color: white;

}
body{
    background-color: white;
    color: black;
    
}
.bilde{
    height: 400px;
    width: 440px;


  
    }
.text{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 100px;
  
}
.word{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size:2rem;
    width: 100%;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.bilde2{

    height: 400px;
    width: 500px;


}
.bilde3{
    height: 400px;
    width: 400px;
    
    

}
.bilder{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.collor{
    background-color: darkcyan;
    color: darkcyan;
    font-size: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;

    width: 100%;
    text-decoration: none;
    background-color: darkcyan ;
}
.bilde4{
    height: max-content;
    width: 200px;

}

